torch
torchvision
torchaudio
packaging
triton
timm==0.4.12
pytest 
chardet 
yacs 
termcolor
submitit 
tensorboardX
fvcore
seaborn
ptflops
tensorboard 
einops 
scikit-image 
pytorch_msssim 
opencv-python
mamba-ssm

